.list {
    text-decoration: none;
    display: flex;
    max-width: 100%;
}

.list__button {
    background-color: rgb(1, 189, 1);
    flex-grow: 1;
    max-width: 35px;
    padding: 0;
    margin: 0;
}

.list__button--remove {
    flex-grow: 1;
    max-width: 35px;
    background-color: red;
}

.list__content {
    flex-grow: 10;
    margin: 10px 50px;
    text-align: left;
}

.list__content--done {
    flex-grow: 10;
    margin: 10px 50px;
    text-align: left;
    text-decoration: line-through;
}